@charset "UTF-8";

html {
	/* 枠線・うち余白を込みで計算*/
	box-sizing: border-box;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
	height: 100vh;
	background-color: #35363A;
}

h1 {
	text-align: center;
	padding: 1rem;
	margin: 0;
	color: #fff;
	background-color: #202124;
}

.input-area {
	height: 35%;
}

input {
	margin: .5rem;
	width: 3rem;
}

#tab1,
#tab2 {
	height: 70vh;
}

#year1 {
	width: 6rem;
}

.btn-line {
	margin-right: 3rem;
	text-align: right;
}

.result {
	margin: auto;
}

select {
	width: 3.6rem;
}

/* レスポンシブ対応 */
/* 最小幅600px以上のデザイン */
/* メディアクエリ */
/* ブレイクポイント */
@media (min-width: 600px) {
	#tabs {
		margin: 1rem 10%;
	}
}